body {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    min-height: 1000px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: auto;
    background: url("../image/login2.jpg") no-repeat;
    background-position: center 0;
}

.login-d{
    width : 480px;
    height: 450px;
    background: #fff;
    margin: 340px auto;
    box-shadow: 2px 2px 15px #888888;
    text-align: center;
}

.login-title span {

    color: #c0e44f;
    font-size: 30px;
}

.login-title{
    font-weight: bold;
    font-size: 18px;
    padding-top: 40px;
    color: #6E6E6E;
    margin-bottom: 20px;
}
.login-form{
    margin: 0 auto;
    width: 340px;
}

.login-i{
    margin-top: 25px;
}

.login-i input{
    width: 342px;
    height: 42px;
    border: 1px solid #C7C7C7;
    text-indent: 14px;
}

.login-i .code-i{
    width: 220px;
}

.pull-left{
    text-align: left;
}
.valid-code img{
    margin-bottom: -11px;
}
.login-btn{
    background: url("../image/1.png") no-repeat;
    border: none;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #adb4bf;
    /* placeholder字体大小  */
    font-size: 12px;
}

#errorContent{
    margin-top: 30px;
    color: red;
}