.academy_table {
    min-height: 25px;
    line-height: 25px;
    border-collapse: collapse;
    padding: 0 15px;
}

.academy_table th {
    border: 1px solid #C6C6CB;
}

.academy_table td {
    border: 1px solid #C6C6CB;
}

.no_border{
    border: none;
}

.academy_thead {
    background-color: #00bbee;
    color: #fff;
    text-align: center;
    width: 110px;
    border: 1px solid #fff;
}

.academy_thead_color{
    background-color: #fffff4;
    color: #000;
    font-weight: bold;
}

.table_text_only {
    width: 100px;
    text-align: center;
}

.academy-sel{
    height: 30px;
}

.academy-div{
    margin: 20px;
}

.academy-table-center{
    margin:auto;
}

.academy-table-td-width-1{
    width: 200px;
}

.academy_thead_font_weight{
    font-weight: normal;
}

.academy_thead_img{
    width: 100px;
    height: 100px;
}

.academy_col1{
    width: 200px;
}

.academy_col2{
    width: 400px;
}