﻿* {
    font-size: 12px;
    font-family: Tahoma, Verdana, 微软雅黑, 新宋体
}

body {
    background: #ffffff;
}

a {
    color: Black;
    text-decoration: none;
}

a:hover {
    color: Red;
    text-decoration: underline;
}

.textbox03 {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif, 宋体;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    width: 190px;
}

.txt01 {
    font: Verdana, Geneva, sans-serif, 宋体;
    padding: 3px 2px 2px 2px;
    border-width: 1px;
    border-color: #ddd;
    color: #000;
}

.txt {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif, 宋体;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
}

.footer {
    text-align: center;
    color: #15428B;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    font-weight: bold;
}

.head a {
    color: White;
    text-decoration: underline;
}

.easyui-accordion ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.easyui-accordion ul li {
    padding: 0px;
}

.easyui-accordion ul li a {
    line-height: 24px;
}

.easyui-accordion ul li div {
    margin: 2px 0px;
    padding-left: 10px;
    padding-top: 2px;
}

.easyui-accordion ul li div.hover {
    border: 1px dashed #99BBE8;
    background: #E0ECFF;
    cursor: pointer;
}

.easyui-accordion ul li div.hover a {
    color: #416AA3;
}

.easyui-accordion ul li div.selected {
    border: 1px solid #99BBE8;
    background: #E0ECFF;
    cursor: default;
}

.easyui-accordion ul li div.selected a {
    color: #416AA3;
    font-weight: bold;
}

.icon {
    background: url(../images/tabicons.png) no-repeat;
    width: 18px;
    line-height: 18px;
    display: inline-block;
}

.icon-sys {
    background-position: 0px -200px;
}

.icon-set {
    background-position: -380px -200px;
}

.icon-add {
    background-position: -20px 0px;
}

.icon-add1 {
    background: url('icon/edit_add.png') no-repeat;
}

.icon-nav {
    background-position: -100px -20px;
}

.icon-users {
    background-position: -100px -480px;
}

.icon-role {
    background-position: -360px -200px;
}

.icon-set {
    background-position: -380px -200px;
}

.icon-log {
    background-position: -380px -80px;
}

.icon-delete16 {
    background: url('icon/delete.gif') no-repeat;
    width: 18px;
    line-height: 18px;
    display: inline-block;
}

.icon-delete {
    background-position: -140px -120px;
}

.icon-edit {
    background-position: -380px -320px;
}

.icon-magic {
    background-position: 0px -500px;
}

.icon-database {
    background-position: -20px -140px;
}

.icon-expand {
    background: url('/images/coll2.gif') no-repeat;
}

.icon-collapse {
    background: url('/images/coll3.gif') no-repeat;
}

.academy-list-ul {
    display: block;
    line-height: 30px;
    width: 750px;
}

.academy-list-ul li.days{
    display:inline;
    border: 1px solid #D4D4D4;
    padding: 2px 15px;
    cursor: pointer
}

.academy-list-ul li.selected{
    background-color: #c24643;
    color:#fff;
}

.academy-list-ul li.times{
    display:inline;
    border: 1px solid #D4D4D4;
    padding: 2px 15px;
    cursor: pointer
}


