#picViewer ul {
	list-style: none;
}

#picViewer li {
	display: inline; 
	margin-right: 30px;
}

#picViewer li img {
	max-height: 100px;
	max-width: 100px;
}

.img-del {
	font-size: 20px;
    color: red;
    position: absolute;
}